# Foundry
dependencies/
deployments/
out/
cache/
coverage/
coverage.json
gas-report.txt

.env
node_modules/

# IDEs
.idea/
.vscode/

.storage_delta_cache
storage_delta

# Gambit mutation testing output
gambit_out/

# Environment variables
.env
.env.local
.audit-cache/
.certora_internal/
emv-*/
.last_confs/
certora_internal/
